.login {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100vh;
  gap: 4rem;
  min-height: 70vh;
}

.login::before {
  content: '';
  display: block;
  background: url('../../Assets/Illustration.png') no-repeat center center;
  /* background-size: contain; */
  background-size: cover;
  /* top: 2rem; */
  left: 4rem;
  position: relative;
  filter: contrast(120%);
}

.forms {
  max-width: 30rem;
  padding: 2rem;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
    min-width: 100%;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
  }
}
